@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$guestbook-item-width: 65% !default;

@include media-breakpoint-up("sm", $grid-breakpoints) {
  .dataset-box {
    &.dataset-box__guestbook {
      width: $guestbook-item-width;
    }
  }
}
